body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol,
ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    background: #fff;
    border: 2px solid #994426;
    float: left;
    /*font-size: 24px;*/
    /*font-weight: bold;*/
    /*line-height: 34px;*/
    height: 51px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 41px;
}

.non-square {
    background: #fff;
    border: 0px solid #ffffff;
    float: left;
    /*font-size: 24px;*/
    /*font-weight: bold;*/
    /*line-height: 34px;*/
    height: 51px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 41px;
}

.square:focus {
    outline: none;
}

.square:hover {
    border: 3px solid crimson;
}

.selected {
    border: 3px solid crimson;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}

.score-board {
    margin-left: 20px;
    font-family: Arial;
    font-size: 20px;
}

hr {
    margin: 20px;
    border: 2px solid;
}

.myProgress {
    width: 550px;
    border-radius: 25px;
    background-color: #ddd;
}

.myBar {
    height: 30px;
    border-radius: 25px;
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    text-align: center;
    line-height: 30px;
    color: white;
}